/* 
	Some base CSS styles I use for these experiments, 
	inluding CSS variables, a reset, and base styling for 
	many of the properties.
*/
@import url(https://codepen.io/HejChristian/pen/QwWeZQE.css);

body {
	/* Turn off the lights */
	background-color: var(--color-dark-darken);
	color: var(--color-light);
}

main {
	/* Give the experiment some breathing room */
	margin: 5em 0em;
}

/* Main Experiment CSS */

@keyframes anim-jellyfish1 {
	0%,
	100% {
		translate: 0 0;
	}
	50% {
		translate: 5px 10px;
	}
}

@keyframes anim-jellyfish2 {
	0%,
	100% {
		translate: 0 0;
	}
	50% {
		translate: 6px -40px;
	}
}

@keyframes anim-jellyfish3 {
	0%,
	100% {
		translate: 0 0;
	}
	50% {
		translate: 10px 2px;
	}
}

@keyframes firefly-path {
	0% {
		offset-distance: 0%;
	}
	100% {
		offset-distance: 100%;
	}
}

@keyframes firefly-blink {
	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		opacity: 0.2;
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		opacity: 1;
	}
}

#firefly1,
#firefly2,
#firefly3,
#firefly4 {
	animation: firefly-path 15s infinite both linear paused,
		firefly-blink 3s infinite both ease-in-out paused;
}

#firefly1 {
	offset-path: path(
		"M174.861,470.63C163.013,463.216 44.417,389.007 117.567,305.587C138.726,281.457 282.417,231.552 297.887,123.297C313.953,10.877 88.48,93.758 151.219,171.357C169.159,193.546 234.197,227.148 318.28,155.317C333.743,142.107 432.687,36.277 502.872,96.506C562.662,147.814 528.177,288.09 391.786,250.647C183.799,193.548 316.925,-20.928 381.508,76.981C433.547,155.873 324.398,426.058 368.529,502.066C410.229,573.887 533.309,526.973 524.928,417.633C520.979,366.112 428.795,253.557 260.055,417.986C201.927,474.628 185.584,472.173 177.658,471.003"
	);
}

#firefly2 {
	offset-path: path(
		"M320.147,471.419C240.084,319.439 169.256,446.706 141.517,401.828C101.806,337.581 435.97,270.744 507.723,303.829C510.783,305.24 543.803,317.17 527.711,339.108C480.685,403.219 164.177,347.015 134.149,320.014C120.003,307.295 69.688,233.191 323.319,175.945C478.135,141.003 636.644,194.324 578.615,268.28C526.415,334.808 158.716,362.732 88.03,162.774C68.717,108.143 117.113,91.197 123.284,89.037C141.283,82.735 204.996,71.123 227.275,83.936C245.146,94.214 302.612,145.89 292.513,196.824C274.77,286.305 89.001,364.377 96.999,470.438C99.174,499.285 151.268,531.444 274.769,561.387C302.894,568.206 299.961,474.435 320,472.562"
	);
}

#firefly3 {
	offset-path: path(
		"M199.284,473.091C142.01,464.746 114.93,372.598 73.964,381.884C38.298,389.969 26.232,509.188 96.414,559.71C155.45,602.208 299.377,615.743 339.354,547.021C355.818,518.718 377.318,453.952 417.796,407.861C438.908,383.823 466.202,333.728 516.807,345.843C572.54,359.186 582.413,493.276 536.936,530.422C530.744,535.479 501.69,559.211 437.219,537.034C358.789,510.054 329.089,379.202 316.736,348.203C299.413,304.735 305.145,301.749 282.352,272.238C277.881,266.448 223.011,183.451 219.875,177.681C216.277,171.063 169.474,55.718 94.052,74.784C43.361,87.598 62.812,144.012 128.472,130.209C188.826,117.521 230.925,47.254 198.627,36.155C174.678,27.926 167.697,84.433 218.02,95.414C258.077,104.155 301.286,58.489 269.604,40.929C249.979,30.051 221.371,87.447 281.049,113.493C331.752,135.621 372.571,85.729 344.718,69.872C338.111,66.111 322.567,71.44 318.789,94.331C309.852,148.489 323.797,153.851 320.285,278.981C319.074,322.146 320.281,354.962 320.033,388.995C319.988,395.207 315.458,403.177 334.359,418.014C398.712,468.531 532.979,406.887 538.777,319.749C539.721,305.561 548.154,246.048 292.913,268.917C268.486,271.106 135.358,286.678 108.548,320.393C96.932,335.002 86.156,412.941 195.819,402.961C272.129,396.017 309.236,342.122 372.691,366.125C405.737,378.625 444.18,446.905 294.56,465.372C287.366,466.26 257.396,469.959 204.214,472.214"
	);
}

#firefly4 {
	offset-path: path(
		"M332.139,314.317C496.415,457.594 620.642,501.16 589.017,560.51C576.623,583.772 530.745,593.206 493.437,542.624C466.567,506.195 445.771,468.547 400.781,517.091C396.99,521.181 345.261,593.834 282.964,586.293C245.222,581.725 201.614,540.408 173.455,515.89C163.896,507.567 126.982,448.417 79.44,478.427C12.9,520.429 63.142,625.106 165.126,545.076C220.059,501.968 268.813,404.345 190.028,358.641C156.69,339.302 52.743,349.152 71.38,271.723C85.433,213.341 208.82,160.974 232.198,285.188C244.669,351.45 201.047,462.873 105.704,393.341C46.563,350.21 32.48,276.155 78.88,277.52C120.631,278.748 128.39,356.376 96.463,408.446C76.296,441.336 36.78,477.637 122.216,536.345C202.722,591.665 248.433,547.474 272.348,524.797C292.699,505.498 411.924,353.462 455.697,292.586C500.278,230.587 619.208,107.969 570.741,64.929C525.625,24.865 412.659,57.889 456.187,124.712C489.164,175.336 594.871,139.024 595.225,209.446C595.351,234.375 535.132,283.463 439.869,177.56C432.097,168.919 328.075,22.229 250.996,101.266C208.4,144.944 266.103,195.784 370.913,266.013C416.679,296.679 418.889,292.527 464.89,323.1C541.73,374.169 581.265,356.887 579.237,431.409C578.381,462.872 555.143,552.831 399.984,489.149C359.883,472.69 228.836,421.238 226.068,319.038C225.587,301.255 247.046,257.137 294.589,290.779C308.738,300.791 308.048,301.533 323.357,309.549"
	);
}

#jellyfish1 {
	animation: anim-jellyfish1 5s infinite both paused;
}

#jellyfish2 {
	animation: anim-jellyfish2 15s infinite both paused;
}

#jellyfish3 {
	animation: anim-jellyfish3 7s infinite both paused;
}

.card-holder {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 5em;
	place-content: center;
}

.card {
	position: relative;
	width: 320px;
	aspect-ratio: 1 / 1;

	&:hover,
	&:focus {
		outline: none;

		.card-details {
			box-shadow: 1px 1px 10px inset var(--glow);
			outline-color: var(--glow);
		}

		.card-design {
			opacity: 1;
		}

		#jellyfish1,
		#jellyfish2,
		#jellyfish3 {
			animation-play-state: running;
		}

		#firefly1,
		#firefly2,
		#firefly3,
		#firefly4 {
			animation-play-state: running;
			opacity: 1;
			stroke: var(--glow);
		}
	}

	.card-details {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 100%;
		height: 100%;
		background-color: var(--color-dark-25);
		background-image: var(--texture-noise);
		color: var(--color-light);
		padding: 1em;
		border-radius: 0.5em;
		box-shadow: 1px 1px 5px inset var(--color-light-50);
		backdrop-filter: blur(20px);

		will-change: box-shadow, outline-color;
		transition: box-shadow 0.5s ease-in-out, outline-color 0.5s ease-in-out;

		z-index: 1;

		p:first-of-type {
			margin-top: 1em;
		}

		p {
			margin-top: 0.5em;
		}
	}

	.card-design {
		pointer-events: none;
		position: absolute;
		top: -160px;
		left: -160px;
		opacity: 0;
		will-change: opacity;
		transition: opacity 0.5s ease-in;
		overflow: visible;
		/* z-index: 2; */

		svg {
			fill: var(--glow);
		}
	}
}
